!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FinalProject
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand.navbar-dark.bg-dark
      = link_to "LOGO", admin_root_path, id: "logo", class: "navbar-brand"
      %ul.navbar-nav.ml-auto
        -if current_admin
          %li.nav-item
          = link_to "Sign-out", destroy_admin_session_path, method: :delete, class:"nav-link"    
    .container-fluid
      .row
        %nav.col-md-2.d-none.d-md-block.bg-light.sidebar
          .sidebar-sticky
            %ul.nav.flex-column
              %li.nav-item
                = link_to "Dashboard", admin_root_path, class: "nav-link active"
              %li.nav-item
                = link_to "Products", admin_products_path, class: "nav-link active"
              %li.nav-item
                = link_to "Orders", admin_root_path, class: "nav-link active"
              %li.nav-item
                = link_to "Users", admin_root_path, class: "nav-link active"
      
        .d-flex.jusify-content-between.flex-wrap.flex-md-nowrap
          .container-fluid
            = yield
